.TodoCounter 
{
  font-size: 40px;
  font-family: 'Montserrat';
  letter-spacing: 4px;
  word-spacing: 40px;
  text-align: center;
  margin: 35px;
  padding: 15px;
  border: solid 2px #2d2d2d;
  background-image: linear-gradient(to top, #000000, #3d3d3d);
  border-radius: 22px;
}

.TodoSearch 
{
  background: #000000;
  border-radius: 22px;
  border: 4px solid #202329;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 40px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #d2d2d2;
  box-shadow: 0px 8px 15px #8a8a8a;
}

.TodoSearch::placeholder 
{
  color: #3e3e3e;
  font-family: 'Montserrat';
  font-weight: 400;
}
  
.TodoSearch:focus 
{
  outline-color: #d2d2d2;
  outline-width: 5px;
}

.List 
{
  margin: 0;
  text-align: center;
  padding: 0 0 56px 0;
  list-style: none;
}

.TodoItem 
{
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  border: solid 3px #8a8a8a;
  border-radius: 22px;
  align-items: center;
  margin-top: 55px;
  box-shadow: 0px 2px 25px #000000;
}
  
.TodoItem-p 
{
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 28px;
  word-spacing: 6px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete 
{
  text-decoration: line-through;
  font-weight: 100;
}
  
.Icon 
{
  cursor: pointer;
  color: #aeaeae;
  display: flex;
  border:solid 2px;
  box-shadow: 0 0 26px #8a8a8a;
  border-radius: 25px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 38px;
  font-weight: bold;
}
  
.Icon-check 
{
  position: absolute;
  left: 12px;
}

.Icon-check--active 
{
  color: #17b51c;
  border: solid 2px #17b51c;
  box-shadow: 0 0 17px #17b51c;
}
  
.Icon-delete 
{
  position: absolute;
  top: -23px;
  right: 3px;
}

.Icon-delete:hover 
{
  color: red;
  border: solid 2px red;
  box-shadow: 0 0 17px red;
}

.CreateTodoButton 
{
  background-color: #000000;
  box-shadow: 0 0 30px #000000;
  border: solid 2px #8a8a8a;
  border-radius: 50%;
  cursor: pointer;
  font-size: 68px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 74px;
  transform: rotate(0);
  transition: .4s ease;
}
  
.CreateTodoButton:hover 
{
  transform: rotate(324deg) scale(1.19);
}

.CreateTodoButton
{
  margin: 0 30px 25px 0;
  z-index: 1;
}

.ModalBg
{
  background: rgba(32,35,41,.8);
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

form
{
  width: 45%;
  max-width: 55%;
  height: 45%;
  max-height: 65%;
  background-color: #d3d3d3;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label
{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #3d3d3d;
  margin-bottom: 26px;
  word-spacing: 4px;
}

textarea
{
  background-color: #aeaeae;
  border: 2px solid #202329;
  border-radius: 9px;
  box-shadow: 0 10px 50px #383838;
  color: #1E1E1F;
  font-size: 25px;
  word-spacing: 4px;
  text-align: center;
  padding: 20px;
  height: 95px;
  width: calc(100% - 35px);
  resize: none;
}

textarea::placeholder
{
  color: #515151;
  font-family: 'Montserrat';
  font-weight: 400;
  padding: 4%;
}

textarea:focus
{
  outline-color: #666666;
}

.TodoForm-buttonContainer
{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.TodoForm-button
{
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  color: #202020;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 4px;
  font-family: 'Montserrat';
}

.TodoForm-addButton
{
  background: #999999;
  box-shadow: 0 5px 25px #5f5f5f;
  border: solid 1px #5c5c5c;
}

.TodoForm-cancelButton
{
  background: transparent;
  border: solid 1px #6e6e6e;
}

body 
{
  margin: 0 45px;
  padding: 0;
  background-image: linear-gradient(to top,#8a8a8a, #000000);
  color: #d2d2d2;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 39px;
}
  
#root 
{
  margin: 30px 20px;
  position: relative;
  min-height: 100vh;
}